#Packages für Web-Scraping
requests
beautifulsoup4
lxml
selenium
scrapy

#Packages für Dataprocessing


#Packages für Deep Learning
tensorflow

pandas~=2.2.3
eventregistry~=9.1
praw~=7.8.1
fundus~=0.4.6
numpy~=1.26.4
pytz~=2024.1
yfinance~=0.2.50